@import url('https://fonts.googleapis.com/css2?family=Anton&family=Archivo+Black&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Oswald:wght@200..700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import 'tailwindcss';

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


.oswald {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}


.nunito {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.archivo-black-regular {
  font-family: "Archivo Black", sans-serif;
  font-weight: 400;
  font-style: normal;
}


.roboto-mono {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.anton-regular {
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.editor:empty:before {
  content: attr(placeholder);
  color: #9ca3af; /* gray-400 */
}
.btn {
  @apply px-2 py-1 border rounded text-sm hover:bg-gray-100;
}
.editor img {
  max-width: 100%;
  border-radius: 6px;
  margin: 10px 0;
}
.editor blockquote {
  border-left: 4px solid #ddd;
  padding-left: 10px;
  color: #6b7280;
  font-style: italic;
}
.editor pre {
  background: #f3f4f6;
  padding: 10px;
  border-radius: 6px;
  white-space: pre-wrap;
}
